/* cart style  */
.programmer-list {
  display: flex !important;
  background-color: whitesmoke;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 200px;
}
/* programmer image style in cart */
.programmer-list img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 0% !important;
}

/* programmer name in cart */
.programmer-list p {
  padding-top: 30px;
  font-size: small;
  margin-left: 10px;
}
