.card {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  padding-bottom: 20px !important;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: none !important;
}

.container {
  margin-bottom: 30px;
}

.filter-search {
  padding-top: 20px;
  float: right !important;
  padding-right: 50px !important;
}
.edit-form {
  border: 1px solid black;
  margin: 0px;
  padding: 15px;
}
.modal-header {
  background-color: #039ea6;
}
.button-modal {
  background-color: #039ea6 !important;
  border-color: #039ea6 !important;
}
